<h1> Food Atlas <h1>

<br>
<div class="page-header"><h2>Photos</h2></div>
</br>

<% @photos.each do |photo| %>
<br><%= render photo %></br>
<p><%= link_to "Delete food from list", delete_pic_path(photo), method: :delete %></p>
<%end%>
